<!-- <h1>This is <%= @post.user%>'s post</h1> -->


<%= @post.title %><br>
<%= @post.url %>


<form action="/posts/<%= @post.id %>/comments/new" method="post">

  
      
      
      <textarea rows="6" cols="60" name="body"></textarea><br>
      <input type="submit" value="add comment">


  
</form>


<section>

  <% @post.comments.each do |comment| %>
 <p><%= comment.body %> <span><%= comment.commentvotes.count%></span></p>

<%= erb :"partials/_commentvote", layout: false, locals: {comment: comment} %>

 <% end %>

</section>





